<script>
$('#imageheader').css('background-image', 'url(images/joeysoloist.jpg)');
$("li").removeClass('active');
$('#contact').addClass('active');

</script>


  <p>For publicity and promotional material, please visit the <a href="#/press">press kit page</a>.<br/>
  For photos, please visit the <a href="#/photos">photo page</a>.<br/>
  For information regarding bookings or clinics, please contact Joey directly at (949) 595-4490 or jseltrb@aol.com.<br/>
  To purchase CD's of Joey's music, please visit CD Baby.</p>
  <ul>
          <li><a href="http://www.cdbaby.com/Artist/JoeySellers" target="_new">Joey Sellers' Solo Trombone Work</a></li>
          <li><a href="http://www.cdbaby.com/Artist/JoeySellersJazzAggregation" target="_new">Joey Sellers' Jazz Aggregation</a></li>
          <li>Joey Sellers with other artists (go to <a href="http://www.cdbaby.com/" target="_new">CD Baby</a> and search for &quot;Joey Sellers&quot;)<br></li>
    </ul>
